/* Highlights Section Styles */
.highlight-started {
    background-color: #fff;
}

.highlight-section-container {
    margin: 30px 0;
    padding: 40px;
}

.highlight-subtopic-title {
    font-size: 1.75rem;
    color: #545252;
    margin-bottom: 25px;
    text-align: left;
}

.highlight-row {
    display: flex;
    align-items: flex-start;
}

.highlight-section__pic-container {
    flex: 0 0 30%;
    text-align: center;
}

.highlight-company-logo {
    width: 250px;
    height: auto;
}

.highlight-about-details-container {
    flex: 0 0 70%;
    padding-left: 20px;
}

.highlight-about-details-container p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

.highlight-pr-links-list {
    list-style: none;
    padding: 0;
}

.highlight-pr-links-list li {
    margin-bottom: 20px;
}

.highlight-pr-links-list a {
    font-size: 16px;
    color: #0073e6;
    text-decoration: none;
}

.highlight-pr-links-list a:hover {
}

.highlight-pr-links-list p {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
}

/* Mobile View Adjustments */
@media screen and (max-width: 900px) {
    .highlight-row {
        flex-direction: column;
    }

    .highlight-subtopic-title {
        text-align: center;
        font-size: 24px;
    }

    .highlight-section__pic-container {
        margin-bottom: 20px;
    }

    .highlight-about-details-container {
        padding-left: 0;
    }
}


.profile-row {
    display: flex;
    flex-wrap: wrap; /* Ensures items wrap to the next line on smaller screens */
    justify-content: space-between; /* Adjusts spacing between items */
    gap: 15px; /* Adds spacing between items */
    margin-top: 20px;
}

.profile-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
    margin: 10px; /* Adds margin around each profile link */
}

.profile-link img {
    max-width: 100%;
    height: auto;
}

.profile-link span {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}

/* Ensure proper scaling on smaller screens */
@media (max-width: 768px) {
    .profile-row {
        justify-content: center;
        gap: 10px;
    }

    .profile-link { /* Adjusts to 2 items per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .profile-link {
    }
}


.highlight-tech-stack {
    margin-top: 30px;
    font-family: 'Arial', sans-serif;
}

.highlight-tech-stack h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #6b6a6a;
    margin-bottom: 20px;
}

.tech-stack-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style-type: none;
    padding: 0;
}

.tech-stack-list li {
    background-color: #f1f1f1;
    padding: 8px 16px;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 500;
    color: #555;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}

.tech-stack-list li:hover {
    background-color: #007BFF;
    color: white;
    border-color: #007BFF;
}


