/* Highlights Section Styles */
.highlight-started {
    background-color: #fff;
}

.highlight-section-container {
    margin: 30px 0;
    padding: 40px;
}

.highlight-subtopic-title {
    font-size: 1.75rem;
    color: #545252;
    margin-bottom: 25px;
    text-align: left;
}

.highlight-row {
    display: flex;
    align-items: flex-start;
}

.highlight-section__pic-container {
    flex: 0 0 30%;
    text-align: center;
}

.highlight-company-logo {
    width: 250px;
    height: auto;
}

.highlight-about-details-container {
    flex: 0 0 70%;
    padding-left: 20px;
}

.highlight-about-details-container p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

.highlight-pr-links-list {
    list-style: none;
    padding: 0;
}

.highlight-pr-links-list li {
    margin-bottom: 20px;
}

.highlight-pr-links-list a {
    font-size: 16px;
    color: #0073e6;
    text-decoration: none;
}

.highlight-pr-links-list a:hover {
}

.highlight-pr-links-list p {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
}

/* Mobile View Adjustments */
@media screen and (max-width: 900px) {
    .highlight-row {
        flex-direction: column;
    }

    .highlight-subtopic-title {
        text-align: center;
        font-size: 24px;
    }

    .highlight-section__pic-container {
        margin-bottom: 20px;
    }

    .highlight-about-details-container {
        padding-left: 0;
    }
}


.profile-row {
    display: flex;
    flex-wrap: wrap; /* Ensures items wrap to the next line on smaller screens */
    justify-content: space-between; /* Adjusts spacing between items */
    gap: 15px; /* Adds spacing between items */
    margin-top: 20px;
}

.profile-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
    margin: 10px; /* Adds margin around each profile link */
}

.profile-link img {
    max-width: 100%;
    height: auto;
}

.profile-link span {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}

/* Ensure proper scaling on smaller screens */
@media (max-width: 768px) {
    .profile-row {
        justify-content: center;
        gap: 10px;
    }

    .profile-link { /* Adjusts to 2 items per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .profile-link {
    }
}

